# Compiled class files
*.class

# Private directories
/private/

# Build directories
/build/

# Binary files
/bin/

# Target directory
/target/

# Sonarlint files
/sonarlint/

# IntelliJ files.
idea/*
*.iml

# Eclipse files
*.project
*.classpath
.settings/